/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Orbitron:wght@400..900&display=swap');
/* Reset default browser styles */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
}

/* #region aboutus */
.cover2 {
    background-image: url("https://ideogram.ai/assets/image/lossless/response/5QQFCXHOT_SRazSDwtp0Qw");
    background-size: cover;
    background-position: fixed;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-bottom-right-radius: 70%;
    box-shadow: inset 0px -10px 10px var(--primary-color);
    border-bottom: 10px solid var(--light-color);
}

.cover3 {
    background-image: url("https://ideogram.ai/assets/image/lossless/response/PMtdWwkpRJa2QS80l2EmKg");
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    box-shadow: inset 10px 10px 10px var(--primary-color);
}

.cover4 {
    background-image: url("https://ideogram.ai/assets/image/lossless/response/7D9nJ50qT5-kEtnUp_iHrA");
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    box-shadow: inset 10px 10px 10px var(--primary-color);
}

.boundary2 {
    border-bottom-right-radius: 70%;
}

.darkener {
    background-color: rgba(0, 0, 0, 0.5);
}

.inset-card {
    box-shadow: inset 0px 0px 100px var(--primary-color);
    border: 2px solid var(--light-color);
    min-height: 300px;
}

.boundary {
    min-height: 100vh;
    border-bottom-right-radius: 70%;
}

.cover {
    background-image: url("https://ideogram.ai/assets/image/lossless/response/5QQFCXHOT_SRazSDwtp0Qw");
    background-size: cover;
    background-position: fixed;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-bottom-right-radius: 70%;
    box-shadow: inset 0px -10px 10px var(--primary-color);
    border-bottom: 10px solid var(--light-color);
}

.gradient {
    background: linear-gradient(135deg, rgba(0, 0, 0, 1) 0%, rgba(215, 45, 72, 1) 100%);
}

.battery {
    background-image: url("https://ideogram.ai/assets/image/lossless/response/t9iHZFPgRy20yFV5Rhya2w");
    background-size: cover;
    background-position: fixed;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.autonomous {
    background-image: url("https://ideogram.ai/assets/image/lossless/response/_hjU0dNsQkSD1fX-A8Nxnw");
    background-size: cover;
    background-position: fixed;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.smart {
    background-image: url("https://ideogram.ai/assets/image/lossless/response/PkbrPSjsRbuYxtq9Ud7bAg");
    background-size: cover;
    background-position: fixed;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.arrow {
    position: absolute;
    bottom: 15%;
    right: 0px;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    animation: arrowAnimation 2s infinite;
}

.arrow::before {
    content: "";
    position: absolute;
    bottom: 35px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(135deg);
}

.dropdown-menu {
    right: 0px;
}

.drop-shadow {
    filter: drop-shadow(20px 20px 50px var(--light-color));
}

.drop-shadow-primary {
    filter: drop-shadow(20px 20px 50px var(--primary-color));
}
s
.text-shadow {
    text-shadow: 2px 2px 4px var(--primary-color);
}

.border-darker {
    border-bottom: 4px solid var(--primary-color);
}

footer {
    background: linear-gradient(135deg, rgba(0, 0, 0, 1) 0%, rgba(215, 45, 72, 1) 100%);
    border-top: 5px solid var(--secondary-color);
    color: #fff;
}

hr {
    background-color: white !important;
    border: 2px solid var(--light-color);
}

@keyframes arrowAnimation {
    0% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(70%);
    }
    100% {
        transform: translateX(-50%) translateY(0);
    }
}

ul, ol {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none !important;
    color: #333;
}

:root {
    --primary-color: #FF1B22;
    --secondary-color: #D72D48;
    --tertiary-color: #3C0415;
    --light-color: #C1BFC1;
    --dark-color: #343a40;
}

/* Set default font and font size */
body {
    font-family: "Orbitron", sans-serif;
    font-size: 16px;
}

/* Customize the scroll bar */
::-webkit-scrollbar {
    width: 5px; /* Set the width of the scroll bar */
    height: 5px;
    background-color: transparent; /* Set the background color of the scroll bar */
}

::-webkit-scrollbar-track {
    background-color: transparent; /* Set the color of the scroll bar track */
}

::-webkit-scrollbar-thumb {
    background-color: var(--tertiary-color); /* Set the color of the scroll bar thumb */
    border-radius: 50px; /* Set the border radius of the scroll bar thumb */
    width: 5px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); /* Set the shadow of the scroll bar thumb */
}

::-webkit-scrollbar-track-piece:start {
    background-color: transparent; /* Set the color of the scroll bar track piece start */
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color); /* Set the color of the scroll bar thumb on hover */
}

html {
    scroll-behavior: smooth;
}

main {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(215, 45, 72, 1) 100%, rgba(0, 0, 0, 0.8) 100%);
}

/* Add box-sizing border-box to all elements */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.logo {
    display: block;
    width: 40px;
    height: 40px;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: var(--primary-color) !important;
}

.nav-link:hover {
    position: relative;
}

.btn {
    font-weight: 700;
}

.header {
    z-index: 2024 !important;
}

#sticky-header {
    position: -webkit-sticky;
    position: sticky;
    top: 90px;
    background-color: var(--primary-color);
    z-index: 2020;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.pos {
    top: 45% !important;
}

.btn-primary {
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-link:hover::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    animation: underline 0.3s forwards;
}

footer .nav-link:hover::after {
    color: var(--primary-color);
    background-color: #fff;
}

.hello {
    height: 1000px;
}

.socials > a:hover {
    filter: drop-shadow(5px 5px 10px var(--light-color));
}

@keyframes underline {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/*#region fade animation and other styles*/
.fade {
    opacity: 0;
    animation: fade 2s ease forwards;
}
  
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-up {
    opacity: 0;
    transform: translateY(100px);
    animation: fadeUp 2s ease forwards;
}
  
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-down {
    opacity: 0;
    transform: translateY(-100px);
    animation: fadeDown 2s ease forwards;
}
  
@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-left {
    opacity: 0;
    transform: translateX(-100px);
    animation: fadeLeft 2s ease forwards;
}
  
@keyframes fadeLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-right {
    opacity: 0;
    transform: translateX(100px);
    animation: fadeRight 2s ease forwards;
}
  
@keyframes fadeRight {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
/*#endregion*/
.text-shadow {
    text-shadow: 10px 10px 10px var(--dark-color);
}

.sandp {
    background-color: var(--tertiary-color);
}

.card-img {
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.card-display:hover {
    filter: drop-shadow(5px 5px 10px var(--light-color));
}

.card-circle {
    border-radius: 50%;
    max-height: 200px;
    height: 10vw;
    width: 75%;
    position: absolute;
    bottom: 20px;
    z-index: 0;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.8);
}

.dropdown-menu {
    background-color: var(--dark-color);
    border-radius: 10px;
}

.dropdown-item {
    color: var(--light-color);
}

.dropdown-item:hover {
    background-color: var(--secondary-color) !important;
    color: #fff !important;
}

.dropdown-item:focus {
    background-color: var(--secondary-color) !important;
    color: #fff !important;
}

.dropdown-item:active {
    background-color: var(--secondary-color) !important;
    color: #fff !important; 
}

.dropdown-item.active {
    background-color: var(--secondary-color) !important;
    color: #fff !important; 
}

.z-index {
    z-index: 1;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #171717;
    border-radius: 25px;
    transition: 0.4s ease-in-out;
  }
  
  .card {
    background-image: linear-gradient(163deg, #343a40 0%, #343a40 100%);
    border-radius: 22px;
    transition: all 0.3s;
  }
  
  .card2 {
    border-radius: 0;
    transition: all 0.2s;
  }
  
  .card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
  }
  
  .card:hover {
    box-shadow: 0px 0px 30px 1px rgba(226, 21, 21, 0.995);
  }
  
  #heading {
    text-align: center;
    margin: 2em;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
  }
  
  .field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  
  .input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: white;
  }
  
  .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
  }
  
  .form .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5em;
  }
  
  .button1 {
    padding: 0.5em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 5px;
    margin-right: 0.5em;
    border: none;
    outline: none;
    transition: 0.4s ease-in-out;
    background-color: #252525;
    color: white;
  }
  
  .button1:hover {
    background-color: black;
    color: white;
  }
  
  .button2 {
    padding: 0.5em;
    padding-left: 2.3em;
    padding-right: 2.3em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: 0.4s ease-in-out;
    background-color: #252525;
    color: white;
  }
  
  .button2:hover {
    background-color: black;
    color: white;
  }
  
  .button3 {
    margin-bottom: 3em;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: 0.4s ease-in-out;
    background-color: #252525;
    color: white;
  }
  
  .button3:hover {
    background-color: red;
    color: white;
  }
  
/*contact us*/
.contact-us-section {
    padding: 50px 0;
}
.contact-us-section .img-container {
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
}
.contact-us-section .content-container {
    padding: 20px;
}
.contact-us-section .contact-info h2 {
    font-weight: bold;
}
.contact-us-section .contact-info h4 {
    font-weight: bold;
    margin-top: 20px;
}
.contact-us-section .contact-info p {
    margin-bottom: 10px;
}
.contact-us-section .contact-info .contact-details {
    margin-top: 10px;
}


/*mESSAGE US form*/

label[for="email"] {
    color: var(--light-color);
  }

  label[for="name"] {
    color: var(--light-color);
  }


  label[for="message"] {
    color: var(--light-color);
  }


.message-us{
    padding: 50px 0;
}

.message-us .h2 {
    color: var(--light-color);
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
}

.message-us .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
}

.message-us .form-label {
    color: var(--light-color);
}

.message-us .form-control {
    background-color: rgba(23, 23, 23, 0.8); 
    color: #d3d3d3;
    border: none;
    border-radius: 10px;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.message-us .form-control:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 0.2rem rgba(226, 21, 21, 0.995);
}





